[class^='row'] {
  display: flex;
  flex-direction: row;
}

[class^='column'] {
  display: flex;
  flex-direction: column;
}

.row,
.column {
  &-space-between {
    justify-content: space-between;
  }
  &-0 {
    gap: 0;
  }
  &-1 {
    gap: var(--space-1);
  }
  &-2 {
    gap: var(--space-2);
  }
  &-3 {
    gap: var(--space-3);
  }
  &-4 {
    gap: var(--space-4);
  }
  &-5 {
    gap: var(--space-5);
  }
  &-6 {
    gap: var(--space-6);
  }
  &-7 {
    gap: var(--space-7);
  }
  &-8 {
    gap: var(--space-8);
  }
  &-9 {
    gap: var(--space-9);
  }
  &-10 {
    gap: var(--space-10);
  }
  &-11 {
    gap: var(--space-11);
  }
  &-12 {
    gap: var(--space-12);
  }
  &-13 {
    gap: var(--space-13);
  }
  &-14 {
    gap: var(--space-14);
  }
  &-15 {
    gap: var(--space-15);
  }
  &-16 {
    gap: var(--space-16);
  }
  &-17 {
    gap: var(--space-17);
  }
  &-18 {
    gap: var(--space-18);
  }
  &-19 {
    gap: var(--space-19);
  }
  &-20 {
    gap: var(--space-20);
  }
  &-21 {
    gap: var(--space-21);
  }
  &-22 {
    gap: var(--space-22);
  }
}
