* {
  font-variation-settings: 'wght' var(--font-weight, 375), 'wdth' var(--font-width, 80);
}

body {
  @extend .text-medium;
}

.text {
  --font-weight: var(--font-weight-normal);
  line-height: var(--line-heights-3);
  color: var(--clr-text-main);
  font-family: var(--font-text);

  &-xsmall {
    @extend .text;
    font-size: var(--paragraph-xsmall-regular-font-size);
  }

  &-small {
    @extend .text;
    font-size: var(--paragraph-small-regular-font-size);
  }

  &-medium {
    @extend .text;
    font-size: var(--paragraph-medium-regular-font-size);
  }

  &-large {
    @extend .text;
    font-size: var(--paragraph-large-regular-font-size);
  }
}

.heading {
  --font-weight: var(--font-weight-normal);
  line-height: var(--line-heights-3);
  color: var(--clr-heading-main);
  font-family: var(--font-heading);
}

h1,
.h1 {
  @extend .heading;
  letter-spacing: var(--heading-1-regular-letter-spacing);
  font-size: var(--heading-1-regular-font-size);
  line-height: var(--heading-1-regular-line-height);
}

h2,
.h2 {
  @extend .heading;
  letter-spacing: var(--heading-2-regular-letter-spacing);
  font-size: var(--heading-2-regular-font-size);
  line-height: var(--heading-2-regular-line-height);
}

h3,
.h3 {
  @extend .heading;
  letter-spacing: var(--heading-3-regular-letter-spacing);
  font-size: var(--heading-3-regular-font-size);
  line-height: var(--heading-3-regular-line-height);
}

h4,
.h4 {
  @extend .heading;
  letter-spacing: var(--heading-4-regular-letter-spacing);
  font-size: var(--heading-4-regular-font-size);
  line-height: var(--heading-4-regular-line-height);
}

h5,
.h5 {
  @extend .heading;
  letter-spacing: var(--heading-5-regular-letter-spacing);
  font-size: var(--heading-5-regular-font-size);
  line-height: var(--heading-5-regular-line-height);
}

.weight {
  &-medium {
    --font-weight: var(--font-weight-medium);
  }

  &-bold {
    --font-weight: var(--font-weight-bold);
  }

  &-extrabold {
    --font-weight: var(--font-weight-extrabold);
  }
}

small,
.text-small {
  font-size: var(--fs-300);
}

strong {
  --font-weight: 500;
  font-weight: normal;
}

a {
  color: var(--clr-primary-main);

  &:hover,
  &:focus {
    color: var(--clr-primary-main);
    text-decoration: none;
  }
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}
