@use './mixins' as mxn;

.hide-on-mobile {
  display: none !important;

  @include mxn.mq(medium) {
    display: block;
  }
}

.hide-on-desktop {
  display: block;

  @include mxn.mq(medium) {
    display: none !important;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
